node_modules/
*/.env

# dependencies
Frontend/.pnp
Frontend/.pnp.js

# testing
Frontend/coverage

# production
Frontend/build

Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*