/* Default button style */
.button {
    width: 130px;  /* Add this line */
  height: 50px;  /* Add this line */
    padding: 15px 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
    border-radius: 5px;
  }
  
  /* Blue button style */
  .button.blue {
    background-color: var(--dark-blue);
    border: 2px solid var(--white);
    color: var(--white);
  }
  
  .button.blue:hover {
    transform: scale(1.1);
  }
  
  /* Coral button style */
  .button.coral {
    background-color: var(--coral);
    color: var(--white);
  }
  
  .button.coral:hover {
    transform: scale(1.1);
  }
  