
/* Style the form container */


.form-table
{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-table div {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  
  }
  
  /* Style form labels */
  .course-label {
    display: block;
    margin-bottom: 8px;
  }
  
  /* Style text inputs and textareas */
  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #5e0909;
    border-radius: 3px;
    font-size: 16px;
  }
  
  .course-button {
    padding: 15px 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
    border-radius: 5px;
    background-color: #ff6551;
    color: white
  }
  
  .course-button:hover {
    background-color: #b32d00;
    transform: scale(1.1);
  }


.course-heading {
    text-align: center;
  font-family: 'Montserrat', sans-serif;
  }

